In [3]:
from urllib.request import urlopen
import pandas as pd

input_data = urlopen('https://featurelabs-static.s3.amazonaws.com/spam_text_messages_modified.csv')
data = pd.read_csv(input_data)
data.head()

  Category                                            Message
0     spam  Free entry in 2 a wkly comp to win FA Cup fina...
1     spam  FreeMsg Hey there darling it's been 3 week's n...
2     spam  WINNER!! As a valued network customer you have...
3     spam  Had your mobile 11 months or more? U R entitle...
4     spam  SIX chances to win CASH! From 100 to 20,000 po...

In [4]:

### Independent And Dependent Features
X=data.drop('Category',axis=1)
y=data['Category']

In [5]:
X.head()

                                             Message
0  Free entry in 2 a wkly comp to win FA Cup fina...
1  FreeMsg Hey there darling it's been 3 week's n...
2  WINNER!! As a valued network customer you have...
3  Had your mobile 11 months or more? U R entitle...
4  SIX chances to win CASH! From 100 to 20,000 po...

In [6]:
y.value_counts(normalize=True)

Category
ham     0.750084
spam    0.249916
Name: proportion, dtype: float64